<app-edit-courses-modal></app-edit-courses-modal>

<app-add-students-modal></app-add-students-modal>

<div class="flex justify-between bg-[#014282] py-4 px-20">
  <div class="flex items-center" routerLink="/">
    <img
      src="assets/logo.jpeg"
      alt="Babcock Logo"
      class="w-[40px] h-[40px] mr-8"
    />
    <h4 class="text-white font-semibold">School of Law and Security Studies</h4>
  </div>
  <div class="flex items-center">
    <h4 
      class="text-white mr-8 underline-animation"
      data-modal-target="add-student-modal"
      data-modal-toggle="add-student-modal"
      type="button"
    >Add Student</h4>
    <h4
      class="text-white mr-8 underline-animation"
      data-modal-target="edit-courses-modal"
      data-modal-toggle="edit-courses-modal"
      type="button"
    >
      Edit Courses
    </h4>
    <h4 class="text-white mr-8 underline-animation">Create a User</h4>
    <img src="assets/user.svg" alt="User avatar SVG" />
  </div>
</div>
