<app-header></app-header>

<div class="mt-10 mx-20 py-5 px-10 bg-white rounded-md">
  <div class="flex justify-between items-center mb-5">
    <h2 class="text-xl font-semibold flex">
      <span class="mx-3 text-[#26A59A] cursor-pointer" routerLink="/"
        >Sessions</span
      >
      <img src="assets/right-caret.svg" alt="Right Caret" />
      <span
        class="mx-3 text-[#26A59A] cursor-pointer"
        [routerLink]="['/semesters']"
        [queryParams]="{ sessionId }"
        >{{ session.name }}</span
      >
      <img src="assets/right-caret.svg" alt="Right Caret" />
      <span
        class="mx-3 text-[#26A59A] cursor-pointer"
        [routerLink]="['/level']"
        [queryParams]="{ semesterId }"
        >{{ semester.name }}</span
      >
      <img src="assets/right-caret.svg" alt="Right Caret" />
      <span
        class="mx-3 text-[#26A59A] cursor-pointer"
        [routerLink]="['/students']"
        [queryParams]="{
          level,
          semesterId,
          sessionId,
        }"
        >{{ level }}</span
      >
      <img src="assets/right-caret.svg" alt="Right Caret" />
      <span class="mx-3">{{ student.lastName + ' ' + student.firstName }}</span>
    </h2>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Course</th>
          <th scope="col" class="px-6 py-3">No. of Units</th>
          <th scope="col" class="px-6 py-3">Score</th>
          <th scope="col" class="px-6 py-3">Grade</th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="odd:bg-white even:bg-gray-50 border-b"
          *ngFor="let course of coursesAndGrade"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
          >
            {{ course.name }}
          </th>
          <td class="px-6 py-4">{{ course.units }}</td>
          <td class="px-6 py-4">{{ course.score }}</td>
          <td class="px-6 py-4">{{ course.grade }}</td>
          <td class="px-6 py-4">
            <a
              data-modal-target="edit-grade-modal" data-modal-toggle="edit-grade-modal" type="button"
              class="font-medium text-[#014282] hover:underline"
              (click)="openEditModal(course.courseId, course.score, course.name)"
              >Edit Grade</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
